@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .btn_white {
    @apply border-white bg-white px-8 py-3 text-green-50;
  }
  .btn_white_text {
    @apply border-white bg-white px-8 py-3 text-gray-90;
  }
  .btn_green {
    @apply border-green-50 bg-green-50 px-8 py-5 text-white;
  }
  .btn_dark_green {
    @apply bg-green-30 px-8 py-4 text-white transition-all hover:bg-green-50;
  }
  .btn_dark_green_2 {
    @apply bg-green-30 px-4 py-2 text-white transition-all hover:bg-green-50;
  }
  .btn_dark_green_outline2 {
    @apply border-gray-20 bg-green-90 px-4 py-2 text-white;
  }
  .btn_dark_green_outline {
    @apply border-gray-20 bg-green-90 px-8 py-5 text-white;
  }

  .max-container {
    @apply mx-auto max-w-[1440px];
  }

  .padding-container {
    @apply px-6 lg:px-20 3xl:px-0;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }

  .flexCol {
    @apply flex flex-col;
  }
}

/* FONTS */
.regular-64 {
  @apply text-[64px] font-[400] leading-[120%];
}

.regular-40 {
  @apply text-[40px] font-[400] leading-[120%];
}

.regular-32 {
  @apply text-[32px] font-[400];
}

.regular-24 {
  @apply text-[24px] font-[400];
}

.regular-20 {
  @apply text-[20px] font-[400];
}

.regular-18 {
  @apply text-[18px] font-[400];
}

.regular-16 {
  @apply text-[16px] font-[400];
}

.regular-14 {
  @apply text-[14px] font-[400];
}

.regular-12 {
  @apply text-[12px] font-[400];
}

.regular-10 {
  @apply text-[10px] font-[400];
}

.medium-14 {
  @apply text-[14px] font-[600];
}

.bold-88 {
  @apply text-[88px] font-[700] leading-[120%];
}

.bold-64 {
  @apply text-[64px] font-[700] leading-[120%];
}

.bold-52 {
  @apply text-[52px] font-[700] leading-[120%];
}

.bold-40 {
  @apply text-[40px] font-[700] leading-[120%];
}

.bold-32 {
  @apply text-[32px] font-[700] leading-[120%];
}

.bold-20 {
  @apply text-[20px] font-[700];
}

.bold-18 {
  @apply text-[18px] font-[700];
}

.bold-16 {
  @apply text-[16px] font-[700];
}

.bold-12 {
  @apply text-[14px] font-[700];
}

.bold-12 {
  @apply text-[12px] font-[700];
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slow-animate-marquee {
  animation: marquee 50s linear infinite;
}

.stop-animate-marquee {
  animation-play-state: paused;
}

.loading {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #007a68 95%, #0000) 50% 1px/24px
      24px no-repeat,
    radial-gradient(farthest-side, #0000 calc(100% - 28px), #e4e4ed 0);
  animation: s9 1s infinite linear;
}
@keyframes s9 {
  to {
    transform: rotate(1turn);
  }
}

.bg-alquran {
  background-image: url("/bg-alquran.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* .frame-surat {
  background-image: url("/frame-quran.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
} */

.truncate-text {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.social-media {
  height: 30px;
  width: 30px;
  background-size: cover;
}

.instagram {
  background-image: url("/instagram.svg");
  height: 25px;
  width: 25px;
}

.instagram:hover {
  background-image: url("/instagram-after.svg");
}

.facebook {
  background-image: url("/facebook.svg");
  height: 25px;
  width: 25px;
}

.facebook:hover {
  background-image: url("/facebook-after.svg");
}

.twitter {
  background-image: url("/twitter.svg");
  height: 25px;
  width: 25px;
}

.twitter:hover {
  background-image: url("/twitter-after.svg");
}

.audio-player::-webkit-media-controls-panel {
  background-color: #ffc107;
  justify-content: center;
}

.swiper-image {
  height: 83vh;
}

.bg-home-gradient {
  background: linear-gradient(90deg, #262626 56%, #2b2b2b 57%);
}

.btn-mobile {
  font-size: 0.875rem !important;
  line-height: 1.25rem;
}

.swiper-image2 {
  height: 30vh;
}

@media screen and (max-width: 768px) {
  .slow-animate-marquee {
    animation: marquee 30s linear infinite;
  }
  .stop-animate-marquee {
    animation-play-state: paused;
  }

  .frame-surat {
    margin-top: 0.5rem;
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
  }
  .swiper-image {
    height: 45vh;
  }
}
